<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod odit doloribus similique voluptates quaerat facere iste placeat. Porro, rem. Optio saepe quisquam dolorum sunt ipsa voluptatem illum, neque doloribus, laboriosam, architecto dicta beatae incidunt amet expedita eligendi delectus sint. Illum.</p>
    </div>
</div>