<div class="jumbotron-my-4 bg-light p-4">
    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste harum porro ullam recusandae nihil qui optio pariatur voluptatum commodi eum, sit voluptates? Sit obcaecati porro sed corrupti delectus perferendis debitis!</p>
    <a href="https://www.sacripantitomas.com" class="btn btn-primary btn-lg">Tomás Sacripanti</a>
</div>